# Auth Service
JWT_SECRET=change-me-in-production
JWT_ALGORITHM=HS256

# Future LLM Service
GEMINI_API_KEY=your-gemini-api-key-here

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# MongoDB
MONGO_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0

# Redis
REDIS_URL=redis://redis:6379

# PostgreSQL
POSTGRES_DSN=postgresql+asyncpg://user:pass@postgres:5432/auth
